This excercise consists in leveraging pandas to compute some aggregates and statitics. Conceptually, this is very similar to doing so in SQL

In [6]:
import pandas as pd

names = ['Bob','Jessica','Mary','John','Mel']
grades = [76,95,77,78,99]
bs = [1,1,0,0,1]
ms = [2,1,0,0,0]
phd = [0,1,0,0,0]
GradeList = zip(names,grades,bs,ms,phd)

df = pd.DataFrame(data=GradeList,
 columns=['Name','Grade','BS','MS','PhD'])

The structure of this dataframe is interesting because it returns a binary value representing whether an individual has a degree or not. Doing so allows us to compute the aggregate functions between those who have bachelors and those who do not. The Python syntax allows us to pass the functions of interest as a list of strings to compute our statistics. These are all functions which make sense to apply to a group of data, and they are wrapped under the aggregate function. We apply them to the grade column, which contains the column we want to apply the functions on.

In [10]:
df.groupby('BS').agg({'Grade': ['mean', 'min', 'max']})

   Grade
    mean min max
BS
0   77.5  77  78
1   90.0  76  99